$height: 100%;
$width: 100%;
$m-top: 0px !important;
$m-bottom: 0px !important;

%card
{
	img
	{
		height: $height;
		width: $width;
	}
	p
	{
		margin-top: $m-top; 
		margin-bottom: $m-bottom;
	}
	footer
	{
		font-size: 11px;
		span
		{
			color: blue;
		}
	}
}
%topics
{
	position: relative;
    display: inline-block;
    padding-right: 12px;
    font-size: 20px;
    font-weight: 625;
    span
	{
	  	color: #e2004f;
	}
}
%hider
{
	content: '';
    position: absolute;
    width: 50%;
    top: -3px;
    border: 2px solid #fff;   
}
%bgimage
{
	position: relative;
    padding-top: 52.25% !important;
    background-size: cover;
    display: block;
    background-position: 20% center;
    background-color: #f0f0f0;
}
%play
{
	height: 35px !important;
	width: 35px !important;
	position:absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
    z-index:3;
}

@import "bigcardC12";
@import "smallcardC6";

.container
{
	width: $width !important;
}

@import "navbar";

.topics
{	
    &_one
    {
    	border: 2px solid #333;
    	border-left: 0;
    	@extend %topics;
    	&:after
    	{
    		@extend %hider;
    	}    	
    }
    &_two
    {
    	border: 2px solid #fff;
    	border-left: 0;
    	@extend %topics;
    	margin-top: 12px;
    	&:after
    	{
    		@extend %hider;
			border: 2px solid black;
    	}
    }

}

@import "horizontalNavBar";

.vimg
{
	@extend %bgimage;
	margin-bottom: 4px !important;  

	.v-lay
	{
		background-color: #000;
	    width: $width;
	    height: $height;
	    position: absolute;
	    top: 0;
	    opacity: .5;
		z-index: 2;
	}
	.play
	{
		@extend %play;
	}
}



@import "article";